@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.popup-red .leaflet-popup-content-wrapper {
    background-color: #dc2626; /* Tailwind red-600 */
    color: white;
}
.popup-yellow .leaflet-popup-content-wrapper {
    background-color: #facc15; /* yellow-400 */
    color: black;
}
.popup-green .leaflet-popup-content-wrapper {
    background-color: #16a34a; /* green-600 */
    color: white;
}

.popup-red .leaflet-popup-tip {
    background: #dc2626;
}
.popup-yellow .leaflet-popup-tip {
    background: #facc15;
}
.popup-green .leaflet-popup-tip {
    background: #16a34a;
}
.marker-circle {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: 0 0 4px rgba(0,0,0,0.3);
}

.marker-red .marker-circle { background-color: #dc2626; }
.marker-yellow .marker-circle { background-color: #facc15; }
.marker-green .marker-circle { background-color: #16a34a; }